/* Background: #e0ebe8   Light green: #48b198   Dark green: #007857   Darker green: #1b7059

/* ------------------------ TYPE SELECTORS ----------------------- */
body {
    margin: 0;
    text-align: center;
    background-color: #e0ebe8;
}

a {
    color: #48b198;
    font-size: 1.5em;
    font-weight: 700;
    font-family: dosis, futura, sans-serif;
    text-decoration: none;
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;

}

th, td {
    width: 200px;
    height: 100px;
    font-size: 1.4em;
    font-family: lato;
    font-weight: 400;
}

table {
    border: none;
}

a:hover {
    color: #007857;
}

th {
    background-color: #007857;
    color: white;
    border-color: black;
}

/* ------------------------ CLASS SELECTORS ----------------------- */
.top-container {
    margin-top: 40px;
    margin-bottom: 0;
}

.middle-container {
    background-color: white;
}

.bottom-container {

}


.intro-para {
    font-family: dosis, futura, sans serif;
    color: #48b198;
    font-size: 1.3em;
    font-weight: 500;
}


.top-cloud {
    position: relative;
    left: 180px;
    top: 40px;
    opacity: 0.5;
}

.bottom-cloud {
    position: relative;
    right: 180px;
    top: 220px;
    opacity: 0.7;
    margin-bottom: 0;
}

.mountain {
    position: relative;
    top: 4px;
    width: 700px;

}

.title {
    font-family: lato, sans-serif;
    font-weight: 100;
    color: #007857;
    font-size: 3.5em;
    padding-top: 40px;
}

.subtitle {

    font-family: lato, sans-serif;
    font-weight: 700;
    color: #48b198;
    font-size: 1.8em;
    margin-top: 0;
    width: 50%;
    margin: 0 auto 24px;
}

.paragraph {
    font-family: adobe-garamond-pro, serif;
    font-weight: 300;
    font-size: 1.3em;
    margin: 0 auto;
    width: 600px;
    padding-bottom: 40px;
}

.line {
    color: #CCCCCC;
    border-width: 3px;
    border-style: dashed none none;
    width: 600px;
}

.top-left-owl {
    height: 140px;
    position: relative;
    right: 30%
}

.bottom-right-owl {
    height: 80px;
    position: relative;
    left: 30%;
    padding: 20px 0px;
}

.about {
    position: relative;
    bottom: 60px;
    left: 19%;
}

.prices {
    position: relative;
    bottom: 60px;
    left: 22%;
}
.contact {
    position: relative;
    bottom: 60px;
    left: 25%;
}

.bottom-about {
    position: relative;
    bottom: 45px;
    right: 1%;
}
.bottom-prices {
    position: relative;
    bottom: 45px;
    left: 4%;
}
.bottom-contact {
    position: relative;
    bottom: 45px;
    left: 9%;
}

.text-link {
    font-family: adobe-garamond-pro, serif;
    font-size: 1em;
    text-decoration: underline;
}

.button {
    display: inline-block;
    font-size: 18px;
    font-family: lato, sans-serif;
    font-weight: 500;
    background-color: #48b198;
    color: #1b7059;
    border-style: none;
    border-radius: 3px;
    padding: 10px 22px;
    margin-bottom: 40px;
}

.rights {
    text-align: center;
    color: #48b198;
    font-size: 1em;
    font-family: serif;
}

.tagline {
    font-family: dosis, futura, sans serif;
    color: #48b198;
    font-size: 2em;
    font-weight: 500;
}

.price-table {
    display: inline-block;
    margin: 40px 0;
    position: relative;
    right: 30px;
}

.empty-box {
    border: none;
    background-color: white;
}

.left-box {
    background-color: #007857;
    color: white;
    border-color: black;
}

.detail {
    color: #48b198;
    font-size: 1.5em;
    font-weight: 700;
    font-family: dosis, futura, sans-serif;
    margin-bottom: 15px;
}

/* ------------------------ ID SELECTORS ----------------------- */
#im-matt {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: parisienne;
    color: #48b198;
    font-size: 4.5em;
    font-weight: 100;
}

#what-i-do {
    margin-top: 0;
    padding-top: 80px;
}

#get-in-touch {
    margin-bottom: 20px;
}

#para3 {
    padding-bottom: 25px;
}

#current-page {
    color: #007857;
}

#current-page2 {
    color: #007857;
}

#explanation {
    padding-bottom: 40px;
}

#my-details {
    font-size: 2.5em;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    padding-top: 0;
}

#gitat {
    padding-top: 40px;
}

#email-address {
    padding-bottom: 15px;
}

#phone-number {
    padding-bottom: 100px;
}